{
  "host": "",
  "view": "",
  "usernameSecretRef": {
    "name": "infoblox-credentials",
    "key": "username"
  },
  "passwordSecretRef": {
    "name": "infoblox-credentials",
    "key": "password"
  }
}
